/****************************************
GENERAL:
****************************************/

*, 
h1,
h2 {
	box-sizing: border-box;
	margin: 0;
}
body {
	font-family: Courier, sans-serif;
	margin-top: 150px;
	background: url('../img/restaurant_icons.png');
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
.main-wrap {
	max-width: 900px;
	margin: 0 auto;
}



/****************************************
HEADING:
****************************************/

#myself {
	background: url('../img/mecopy.jpg') no-repeat center; /*background image instead of img element*/
	background-size: 125px 125px; /*picture size*/
	box-shadow: -5px 5px 45px;
	margin-top: 5px;
	margin-left: 5px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: green; /*change with pattern*/
	float: left;
}
header {
	background: url('../img/congruent_pentagon.png');
	border-bottom: 5px solid gray;
	width: 100%;
	position: fixed;
	top: 0; /*fixed the weird spacing at the top!!!!!!!*/
	z-index: 90;
}
#logo {
	text-align: right;
	width: 52%;
	float: left;
	color: black;
}
#logo h1 {
	padding-top: 10px; /*this keeps the logo from hitting the top*/
	font-size: 60px;
	font-variant: small-caps;
	line-height: 1;
}
#logo h2 {
	padding-right: 30px;
}
.list{
	display: -webkit-flex;
	-webkit-justify-content: flex-end;
	-webkit-flex-wrap: wrap;
	box-sizing: border-box;
	margin-top: 75px;
}
.list li {
	padding-right: 20px;
}
.list a {
	color: gray;
}



/****************************************
GALLERY: MAIN PAGE
****************************************/

.gallery h1 {
	text-align: center;
	border-bottom: 5px solid gray;
	padding-bottom: 20px;
}
.gallery ul{
	list-style: none;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	margin: 20px 0 5px;
}
.gallery li {
	padding-left: 35px;
	padding-bottom: 10px;
}
.gallery img {
	height: 225px;
	width: 225px;
	border-radius: 15px;
	border: 3px solid black;
}
.gallery p {
	padding-top: 30px;
	text-align: center;
	border-top: 5px solid gray;
	padding: 0 150px;
	padding-top: 50px;
	margin: 0;
}




/****************************************
ABOUT PAGE
****************************************/

.my_pic {
	float: left;
	display: block;
	border-radius: 15%;
		border: 3px solid black;
	height: 300px;
	width: 350px;
	margin: 0 5% 50px 0;
}


/****************************************
CONTACT PAGE
****************************************/
.general-info {
	width: 55%;
	float: left;
	padding-left: 5%;
}
.contact-info {
	width: 40%;
	float: right;
	padding-left: 5%;
}
.contact-info ul {

	padding: 0;
}
.contact-info a {
	display: block; /*need to display block in order for me to manipulate margins and padding*/
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 10px 30px;
	color: black;
}
.contact-info li.phone a {
	background-image: url("../img/phone.png");
}
.contact-info li.email a {
	background-image: url("../img/mail.png");
}
.contact-info li.twitter a {
	background-image: url("../img/twitter.png");
}

/****************************************
HELP PAGE
****************************************/

.help {
	display: -webkit-flex;
}
.col,
.col-b,
.col-c {
	padding-right: 3%;
}

.col-b, 
.col-c {
	padding-left: 3%;
}

.col-b {
	border-left: 3px solid gray;
	border-right: 3px solid gray;
}

/****************************************
FOOTER:
****************************************/

footer {
	text-align: center;
	margin-top: 25px;
	padding-top: 100px;
	clear: both;
}
.social-icon {
	height: 2em;
	width: 2em;
}
footer h5 {
	margin: 0;
	color: gray;
}





/****************************************
LINK STYLES:
****************************************/
.list a:hover,
.list a.selected {
	color: white;
	padding: 15px;
	background:  rgba(0, 0, 0, 0.5);
	border-radius: 15px;
}
.gallery img:hover {
	-webkit-box-shadow: 0 0 20px black;
	opacity: 0.7;
}
.social-icon:hover {
	opacity: 0.7;
}
.contact-info a:hover {
	color: gray;
}
.about-me p a:hover {
	color: aqua;
}


/****************************************
JS: OVERLAY
****************************************/
#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:none;
  text-align:center;
  z-index: 100;
}

#overlay img {
 margin-top: 5%;
 border-radius: 10px;
 height: 500px;
 width: 500px;
}

#overlay p {
 	padding: 20px;
 	border-bottom: 10px;
 	border-radius: 10px;
 	color:white; 
	width: 500px;
	margin: 0 auto; /*centering paragraph*/
	background: black;
}

button {
	border-radius: 5px;
	background: #97dea7;
}


